<div class="modal-header bg-dark-modal text-white">
  <h5 class="modal-title" id="exampleModalLabel">Nuevo Anuncio</h5>
  <a class="hover-shadow text-light" role="button">
    <i class=" fas fa-times fa-2x" (click)="modalRef.close()" aria-label="Cerrar"></i>
  </a>
</div>

<div class="modal-body bg-dark-modal">
  <mat-horizontal-stepper>
    <!-- Subida de ficheros -->
    <mat-step [stepControl]="fileForm" label="Sube el archivo" state="file">
      <form [formGroup]="fileForm">

        <!-- Label con popover -->
        <label for="upload" class="text-white my-2">
          Contenido del anuncio
          <button
            type="button"
            class="btn btn-warning btn-floating little me-2"
            placement="right"
            mdbPopover="Imágenes (jpg, jpeg, png)<br>
                        GIFs (gif)<br>
                        Vídeos (mp4, avi, webm)"
            [template]="true"
            mdbPopoverTitle="Tipos permitidos"
            trigger="hover">
            <i class="fas fa-question"></i>
          </button>
        </label>

        <!-- Input -->
        <div class="input-group">
          <input accept="image/jpeg,image/png,image/gif,video/mp4,video/avi,video/webm" hidden
                 type="file" class="form-control" id="recurso" (change)="uploadFile($event)" formControlName="recurso"/>

          <input type="text" class="form-control hover-pointer" placeholder="Sin archivos seleccionados"
                 formControlName="recursoInput" id="upload-input" aria-describedby="upload"
                 (click)="clickUpload()" readonly/>
          <button class="btn btn-outline-white" type="button" id="upload" (click)="clickUpload()">
            Subir Fichero
          </button>
        </div>

        <div class="form-text">
          Tenga en cuenta que si es un vídeo no debe superar los 30 s de duración
        </div>

        <!-- Errores input -->
        <div *ngIf="errorsInUpload" class="mt-1">
          <div class="error" *ngIf="fileForm.get('recurso')?.errors?.required || fileForm.get('recursoInput')?.errors?.required">
            Es obligatorio subir un archivo
          </div>
          <div class="error" id="recurso-error" *ngIf="fileForm.get('recurso')?.errors?.formServer">Error</div>
        </div>

        <!-- Step siguiente -->
        <div class="d-flex justify-content-end">
          <button class="btn btn-link" matStepperNext (click)="checkValidity()"
                  *ngIf="!loading; else spinner">Siguiente
          </button>
          <ng-template #spinner>
            <div class="spinner-border white-text hover-pointer me-4" role="status">
              <span class="visually-hidden">Procesando...</span>
            </div>
          </ng-template>
        </div>
      </form>
    </mat-step>

    <!-- Indicar fechas y visualizaciones -->
    <mat-step [stepControl]="detailsForm" label="Selecciona los detalles" state="details">

      <form [formGroup]="detailsForm">

        <div class="form-text text-white mt-3">
          Escriba el rango de fechas en el que quiere mostrar su anuncio y comprobaremos si es posible o, por el contrario,
          tendrá que escoger un nuevo inicio y fin
        </div>

        <!-- Inputs fechas -->
        <div class="d-flex justify-content-start mt-2">
          <mat-form-field appearance="fill" class="me-2">
            <mat-label>Ecoja el inicio</mat-label>
            <input class="text-white" matInput [matDatepicker]="inicio" [formGroup]="detailsForm" formControlName="inicio" required>
            <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
            <mat-datepicker #inicio></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="me-2">
            <mat-label>Escoja el fin</mat-label>
            <input class="text-white" matInput [matDatepicker]="fin" [formGroup]="detailsForm" formControlName="fin" required>
            <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
            <mat-datepicker #fin></mat-datepicker>
          </mat-form-field>

          <!-- Errores Fechas -->
          <div *ngIf="errorsInDates" style="line-height: 4em; margin-left: 2em">
            <div class="error" *ngIf="get('inicio')?.errors?.required || get('fin')?.errors?.required">
              Ambas fechas son necesarias
            </div>
            <div class="error" id="fechas-error" *ngIf="get('recurso')?.errors?.formServer">Error</div>
          </div>

        </div>

        <div class="form-text text-white">
          También debe indicar el número de veces que quiere que se muestre como mucho su anuncio a un mismo usuario
        </div>

        <!-- Input reproducciones -->
        <mat-form-field appearance="fill" class="mt-2">
          <mat-label>Nº. reproducciones</mat-label>
          <input class="text-white" matInput placeholder="30" [formGroup]="detailsForm" formControlName="reproduccionesLimite" required>
          <mat-error *ngIf="fileForm.get('reproduccionesLimite')?.errors?.required">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button class="btn btn-link" matStepperPrevious *ngIf="!loading; else spinner">Atrás</button>
          <button class="btn btn-link" matStepperNext *ngIf="!loading; else spinner" (click)="checkValidity()">Siguiente</button>
          <ng-template #spinner>
            <div class="spinner-border white-text hover-pointer me-4" role="status">
              <span class="visually-hidden">Procesando...</span>
            </div>
          </ng-template>
        </div>
      </form>

    </mat-step>

    <!-- Finalizar -->
    <mat-step [stepControl]="doneForm" label="Todo listo" state="last">

      <form [formGroup]="doneForm">


        <div class="d-flex justify-content-end">
          <button class="btn btn-link" matStepperPrevious>Atrás</button>
          <button class="btn btn-link" matStepperNext>Terminar</button>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-link" matStepperPrevious>Atrás</button>
          <button class="btn btn-link" *ngIf="finished; else spinner">Terminar</button>
          <ng-template #spinner>
            <div class="spinner-border white-text hover-pointer me-4" role="status">
              <span class="visually-hidden">Procesando...</span>
            </div>
          </ng-template>
        </div>
      </form>

    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="edit" let-index="index">
      <mat-icon *ngIf="index === 0">attach_file</mat-icon>
      <mat-icon *ngIf="index === 1">notes</mat-icon>
      <mat-icon *ngIf="index === 2">done_all</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="file">
      <mat-icon>attach_file</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="details">
      <mat-icon>notes</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="last">
      <mat-icon>done_all</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>

