<div class="modal-header bg-dark-modal text-white">
  <h5 class="modal-title" id="exampleModalLabel">Nuevo Anuncio</h5>
  <a class="hover-shadow text-light" role="button">
    <i class=" fas fa-times fa-2x" (click)="modalRef.close()" aria-label="Cerrar"></i>
  </a>
</div>

<div class="modal-body bg-dark-modal">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="fileForm" label="Sube el archivo" state="file">
      <form [formGroup]="fileForm">


        <div>
          <button class="btn btn-link" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="detailsForm" label="Selecciona los detalles"  state="details">

      <form [formGroup]="detailsForm">


        <div>
          <button class="btn btn-link" matStepperPrevious>Atrás</button>
          <button class="btn btn-link" matStepperNext>Siguiente</button>
        </div>
      </form>

    </mat-step>
    <mat-step [stepControl]="doneForm" label="Todo listo" state="last">

      <form [formGroup]="doneForm">


        <div>
          <button class="btn btn-link" matStepperPrevious>Atrás</button>
          <button class="btn btn-link" matStepperNext>Terminar</button>
        </div>
      </form>

    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="edit" let-index="index">
      <mat-icon *ngIf="index === 0">attach_file</mat-icon>
      <mat-icon *ngIf="index === 1">border_color</mat-icon>
      <mat-icon *ngIf="index === 2">done_all</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="file">
      <mat-icon>attach_file</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="details">
      <mat-icon>notes</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="last">
      <mat-icon>done_all</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>

