<div class="container-sm" style="max-width: 30rem">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="border border-light py-5">

    <p class="h4 text-center mb-4">Reiniciar contraseña</p>

    <!-- Password input -->
    <div class="row">
        <app-input type="password" minLength="6" maxLength="200" name="password" label="Contraseña" [form]="resetPasswordForm"></app-input>
    </div>

    <!-- Repeat Password input -->
    <div class="row">
      <app-input type="password" name="confirmedPassword" label="Repita la Contraseña" [form]="resetPasswordForm"></app-input>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Confirmar</button>

  </form>
</div>

