<div class="p-4 d-flex justify-content-center ">
  <form [formGroup]="forgotForm" style="width: 25rem">

    <!-- Email input -->
    <mdb-form-control class="mb-4">
      <input mdbInput [mdbValidate]="false" type="email" class="form-control"
             id="email" formControlName="email" required>
      <label mdbLabel class="form-label" for="email">Email</label>
    </mdb-form-control>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" (click)="forgot()">Recuperar</button>

  </form>
</div>
