<app-navbar type="gimnasio" [showNewAdd]="hayAnuncios" page="mis-anuncios" (newAd)="onCreateAd()"></app-navbar>

<div class="m-5 ad-list" (wheel)="onWheel($event)" id="container" *ngIf="hayAnuncios; else message">

  <div class="card text-white bg-dark me-4" style="min-width: 18rem;max-width: 18rem;" *ngFor="let anuncio of anuncios">
    <img
      src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
      class="card-img-top"
      alt=""
      loading="lazy"
    />
    <div class="card-body">
      <h5 class="card-title">Imagen</h5>
    </div>
    <div class="grid bg-dark list-group-flush">
      <span>Inicio:</span>
      <span>{{anuncio.inicio | date}}</span>

      <span>Fin:</span>
      <span>{{anuncio.fin | date}}</span>

      <span>Reproducciones:</span>
      <span> 0 / {{anuncio.reproduccionesLimite}}</span>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Detalles</a>
    </div>
  </div>


</div>

<ng-template #message>
  <div class="p-5 text-center mt-5">
    <h3 class="mb-3">BIENVENIDO A TUS ANUNCIOS</h3>
    <h5 class="mb-3">Parece que aún no tienes creado ningún anuncio, ¿por qué no creas alguno?</h5>
    <button class="btn btn-dark" (click)="openModalNewAd()">Nuevo anuncio</button>
  </div>
</ng-template>


