<app-navbar type="gimnasio" page="mis-anuncios" (newAdd)="onCreateAdd($event)"></app-navbar>


<div class="container mt-5 d-flex">

  <div class="card text-white bg-dark" style="max-width: 18rem;" *ngFor="let number of [0,1,2,3,4]">
    <img
      src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Imagen</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
    </div>
    <ul class="list-group bg-dark  list-group-flush">
      <li class="list-group-item text-white bg-dark">
        Inicio:
      </li>
      <li class="list-group-item text-white bg-dark">
        Fin:
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Detalles</a>
    </div>
  </div>


</div>


