<app-navbar type="gimnasio" [showNewAdd]="hayAnuncios" page="mis-anuncios" (newAd)="onCreateAd($event)"></app-navbar>



<div class="m-5 ad-list" (wheel)="onWheel($event)" id="container" *ngIf="hayAnuncios; else message">

  <div class="card text-white bg-dark me-4" style="min-width: 18rem;max-width: 18rem;" *ngFor="let anuncio of anuncios">
    <img
      src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
      class="card-img-top"
      alt=""
      loading="lazy"
    />
    <div class="card-body">
      <h5 class="card-title">Imagen</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
    </div>
    <ul class="list-group bg-dark  list-group-flush">
      <li class="list-group-item text-white bg-dark">
        Inicio:
      </li>
      <li class="list-group-item text-white bg-dark">
        Fin:
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Detalles</a>
    </div>
  </div>


</div>

<ng-template #message>
  <div class="p-5 text-center bg-light mt-5">
    <h1 class="mb-3">BIENVENIDO A TUS ANUNCIOS</h1>
    <h4 class="mb-3">Parece que aún no tienes creado ningún anuncio, ¿por qué no creas alguno?</h4>
    <button class="btn btn-dark">Nuevo anuncio</button>
  </div>
</ng-template>


