<div class="container-sm" style="max-width: 40rem">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="border border-light py-5">

    <p class="h4 text-center mb-4">Olvidé mi contraseña</p>

    <!-- Email input -->
    <div class="row">
      <app-input type="email" minLength="6" maxLength="200" name="email" label="Email" [form]="forgotForm"></app-input>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>

    <!-- Login button -->
    <div class="text-center">
      <p>¿Te has acordado de tu contraseña? <a routerLink="/login">Inicia Sesión</a></p>
    </div>

  </form>
</div>
