<app-navbar [type]="type" [page]="page"></app-navbar>

<div class="container-sm mt-4">
  <div class="row gutters">

    <div class="col-xl-3 col-lg-3 col-12">
      <div class="card h-100 bg-dark text-light">
        <div class="card-body" *ngIf="gimnasio">
          <div class="account-settings">
            <div class="user-profile">
              <div class="bg-image hover-overlay ripple">
                <img src="https://mdbootstrap.com/img/new/fluid/city/055.jpg"
                     class="img-fluid shadow-2-strong "
                     alt="Imagen del Logo"/>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                </a>
              </div>

              <h5 class="my-1">{{ gimnasio.nombre }}</h5>
              <h6>{{ gimnasio.email }}</h6>
            </div>

            <div>
              <h5 class="mb-2 text-warning">Tarifas</h5>
              <p>{{ gimnasio.tarifa }} €/mes</p>
            </div>

            <div>
              <h5 class="mb-2 text-warning">Dirección</h5>
              <p>{{ gimnasio.direccion }}</p>
            </div>

            <div>
              <h5 class="mb-2 text-warning">Descripción</h5>
              <p>{{ gimnasio.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-12">
      <div class="card h-100 bg-dark text-light">
        <div class="card-body">

          <form *ngIf="updateForm" [formGroup]="updateForm">

            <!-- Zona privada -->
            <section>
              <h6 class="mb-3 text-warning">Detalles de la cuenta</h6>

              <div class="row">
                <!-- Username -->
                <div class="col-sm-12 col-md-6">
                  <app-input name="userName" [darkTheme]="true" [readonly]="true"
                             label="Usuario" [form]="updateForm"></app-input>
                </div>

                <!-- Email -->
                <div class="col-sm-12 col-md-6 d-flex">
                    <app-input name="email" [darkTheme]="true" [readonly]="true"
                               label="Email" [form]="updateForm" style="width: 100%"></app-input>
                    <button class="btn btn-info" type="button" mdbRipple rippleColor="warning" style="max-height: 36px;margin-left: 10px;width: 120px;" >
                      Editar
                    </button>
                </div>
              </div>

              <div class="row">
                <!-- CIF -->
                <div class="col-sm-12 col-md-6">
                  <app-input name="cif" [darkTheme]="true" label="NIF" [form]="updateForm"></app-input>
                </div>

                <!-- Contraseña -->
                <div class="col-sm-12 col-md-6">
                  <button type="button" class="btn btn-light">Cambiar Contraseña</button>
                </div>
              </div>

            </section>

            <!-- Zona pública -->
            <section>
              <h6 class="mb-3 text-warning">Información pública</h6>
              <div class="row">
                <!-- Id input -->
                <div class="col-4">
                  <app-input name="identificador" [darkTheme]="true" minLength="6" maxLength="200" label="Identificador" [form]="updateForm"></app-input>
                </div>

                <!-- Name input -->
                <div class="col-8">
                  <app-input name="nombre" [darkTheme]="true" minLength="6" maxLength="200" label="Nombre" [form]="updateForm"></app-input>
                </div>
              </div>

              <div class="row">
                <!-- Address input -->
                <div class="col-10">
                  <app-input name="direccion" [darkTheme]="true" minLength="5" maxLength="200" label="Dirección" [form]="updateForm"></app-input>
                </div>

                <!-- Price input -->
                <div class="col-2">
                  <app-input type="number" [darkTheme]="true" min="1" max="999" name="tarifa" label="Tarifa (€)" [form]="updateForm"></app-input>
                </div>
              </div>


              <div class="row">
                <!-- Description input -->
                <div class="col-12" [ngClass]="{'mb-3' : f.descripcion.touched && f.descripcion.errors, 'mb-4': !f.descripcion.touched || !f.descripcion.errors}">
                  <mdb-form-control class="form-white">
                  <textarea mdbInput [mdbValidate]="false" class="form-control" name="descripcion" id="descripcion"
                            formControlName="descripcion" rows="4"></textarea>
                    <label mdbLabel class="form-label" for="descripcion">Descripción</label>
                  </mdb-form-control>
                  <div *ngIf="f.descripcion.touched && f.descripcion.errors">
                    <div class="error" *ngIf="f.descripcion.errors.required">Campo requerido</div>
                    <div class="error" id="descripcion-error" *ngIf="f.descripcion.errors.formServer"></div>
                  </div>
                </div>
              </div>
            </section>

          </form>

        </div>
      </div>
    </div>


  </div>
</div>

